
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  web:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - GOVUK_APP_NAME=GOVUK-AI-ACCELERATOR

  # The Dramatiq Background Worker
  worker:
    build: .
    command: ["uv", "run", "dramatiq", "govuk_ai_accelerator_app"]
    depends_on:
      - redis
    environment:
      - GOVUK_APP_NAME=GOVUK-AI-ACCELERATOR